<html>
<head>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item ">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    terraChange</a>
           </li>
           {% if not current_user.is_anonymous %}
           <li class="nav-item">
             <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{{ url_for('tracking') }}">Tracking</a>
           </li>
           <li class="nav-item">
             <a class="nav-link disabled" href=="{{ url_for('map') }}">Find Nearby Centers</a>
           </li>
           {% endif %}
         </ul>

         <ul class="navbar-nav ml-auto">
            {% if current_user.is_anonymous %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">{{ 'Login' }}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">{{ 'Logout' }}</a></li>
            {% endif %}
        </ul>
       </div>
     </nav>
     <!-- <nav class="navbar navbar-default">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                     data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button> {% if current_user.is_anonymous %}
                 <a class="navbar-brand" href="{{ url_for('home') }}">
                     terraChange</a> {% else %}
                 <a class="navbar-brand" href="{{ url_for('home') }}">
                     terraChange</a> {% endif %}
             </div>
             <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav">
                     {% if not current_user.is_anonymous %}
                     <li><a href="{{ url_for('dashboard') }}">{{ 'Dashboard' }}</a></li>
                     <li><a href="{{ url_for('tracking') }}">{{ 'Tracking' }}</a></li>
                     <li><a href="{{ url_for('map') }}">{{ 'Find Nearby Centers' }}</a></li>
                     {% endif %}
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                     {% if current_user.is_anonymous %}
                     <li><a href="{{ url_for('login') }}">{{ 'Login' }}</a></li>
                     {% else %}
                     <li><a href="{{ url_for('logout') }}">{{ 'Logout' }}</a></li>
                     {% endif %}
                 </ul>
             </div>
         </div>
     </nav> -->

     <div class="container">
         {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
         <div class="alert alert-info" role="alert">{{ message }}</div>
         {% endfor %} {% endif %} {% endwith %} {% block app_content %}{% endblock %}
         
         <!-- <footer class="page-footer fixed-bottom font-small cyan pt-70 darken-3">
             <hr />
             <div class="container-fluid text-center text-md-left">
                 <div class="row">
                     <div class="col-md-6 my-3">
                         <div class="my-5 flex-center">
                             <h5>terraChange</h5>
                         </div>
                     </div>
                     <div class="col-md-6 my-3">
                         <div class="my-5 flex-center">
                             <a href="https://github.com/rachitpareek/terraChange">
                                 Github
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
         </footer> -->

     </div>
</body>
</html>
