{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<br><br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hi, {{ current_user.username }}!</h1>
    <p class="lead">You can earn up to
        {{ total }} by recycling everything you have tracked here.</p>
  </div>
</div>
<h5>Visit the <a href="{{ url_for('tracking') }}"><b>tracking</b></a> tab to track a new item.</h5>
{% if items|length == 0 %}
<p>You have not inputted any items yet!</p>
{% endif %}
{% for item in items %} {% include '_item.html' %} {% endfor %}
{% endblock %}
